@import url(logo.css);
@import url(main.css);
@import url(header.css);
@import url(navSocialNetwork.css);
@import url(slideAbout.css);
@import url(styleAbout.css);
@import url(footer.css);

.about-grid-container {
  min-height: 80vh;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  background-color: #000;
}

.about-grid-item {
  background-color: #000;
  padding: 50px 0px;
  color: #fff;
}

.about-title-section {
  margin-left: 100px;
  font-size: 70px;
  font-family: "Kaushan Script", cursive;
}

#about-company {
  margin: 30px auto auto 100px;
  font-size: 24px;
  text-align: justify;
}

/* team container start  */
.team-card-container {
  padding-left: 110px;
}
.team-container {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.team-card {
  position: relative;
  width: 160px;
  display: inline-block;
}

.soc-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 0px;
  background-color: dodgerblue;
  transition: height 1s;
  opacity: 0.6;
  text-align: center;
}

.workers:hover ~ .soc-side,
.soc-side:hover {
  height: 140px;
}

.soc-pic {
  margin-top: 40%;
  display: none;
}

.workers:hover .soc-pic,
.soc-side:hover .soc-pic {
  display: inline;
  cursor: pointer;
}

.worker-name {
  font-size: 16px;
  font-weight: bold;
  color: #57585b;
}
/* team container end  */

#cooperation-container {
  padding-top: 50px;
}
