
html body {
    background-color: #fff 
}

.info {
    display: flex;
    padding: 10px;
    border: 10px solid #ccc;
    background-color: grey;
}
.article-text {
    padding-left: 150px;
}
.article-text p {
    font-size: 25px;
    width: 500px;
}

