.notification-nav {
  position: fixed;
  top: 70px;
  right: 0;
  padding-right: 5px;
  width: 300px;
  height:90vh;
  overflow-x: auto;
  color: white;
  z-index: 224;
}

.notification-item {
  position: relative;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  box-shadow: 5px 5px 5px 2px #888888;
}

.notification-item:hover {
  opacity: 1;
  cursor: pointer;
}

.notification-title,
.notification-description {
  color: black;
}

.fa-times {
  position: absolute;
  right: 5px;
  top: 5px;
  color: black;
}
