.homeSlide {
  display: none;
}

.homeSlidePicture {
  width: 100%;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slide-text {
  padding: 8px 12px;
  position: absolute;
  top: 20vh;
  width: 100%;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

.slide-text p {
  font-size: 80px;
}

#armenia-text {
  font-size: 140px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .text {
    font-size: 11px;
  }

  #armenia-text {
    font-size: 90px;
  }

  .slide-text {
    top: 30vh;
  }

  .slide-text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .slide-text {
    top: 20vh;
  }
}
@media only screen and (max-width: 400px) {
  .slide-text {
    top: 22vh;
  }
}
@media only screen and (max-width: 300px) {
  .slide-text {
    top: 10vh;
  }
}
@media only screen and (max-width: 290px) {
  .slide-text {
    top: 25vh;
  }

  #armenia-text {
    font-size: 50px;
  }
}
