/* .cooperation-slideshow {
  height: 100px;
  max-width: 100%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.cooperation-slideshow > div {
  height: 100px;
  width: 2526px;
  background: url(../pictures/about/slideAbout.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.cooperation-slideshow .mover-1 {
  animation: moveSlideshow 10s linear infinite;
}

@keyframes aboutPageSlide {
  100% {
    transform: translateX(-40%);
  }
} */

.cooperation-slideshow {
  height: 100px;
  max-width: 100%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.cooperation-slideshow > div {
  height: 100px;
  width: 2526px;
  background: url(../pictures/about/slideAbout.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.cooperation-slideshow .mover-1 {
  animation: moveSlideshow 10s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-40%);
  }
}
